@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  margin: 0;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Courier New", Courier, monospace;

  h1,
  h2 {
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.2rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  .container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 4rem;

    section {
      display: flex;
      flex-direction: column;

      div {
        display: flex;
        justify-content: space-around;

        button {
          display: block;
          margin: auto 0;
          width: 5rem;
          border: none;
          outline: none;
          height: 1.6rem;
          color: white;
          background-color: rgb(14, 153, 9);
        }

        button:active {
          background-color: rgb(5, 90, 12);
        }
      }

      ul * {
        list-style-type: none;
        width: 100%;
        height: 30px;
        padding-left: 10px;
        display: flex;
        align-items: center;
        border-bottom: 2px solid #ddd;
      }

      li:nth-child(1) {
        border-bottom: 2px solid #000;
        font-family: "Bebas Neue", cursive;
        letter-spacing: 2px;
        font-size: 1.5rem;
      }
    }

    form {
      input {
        margin-bottom: 20px;
        border: none;
        box-shadow:
          0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        outline: 0;
        height: 2rem;
      }

      #submit {
        color: #fff;
        background-color: teal;
        width: 5rem;
      }

      #submit:active {
        background-color: rgb(12, 71, 71);
      }
    }
  }
}
