body {
    text-align: center;
    h1{
        margin: 2rem 0;
        font-size: 3rem;
    }
}
.container {
    display: flex;
    justify-content: space-around;
}

.results {
    min-width: 30%;
    .list-header {
        display: flex;
        justify-content: space-between;
    }

    ul{
        list-style: none;
        text-align: start;
        li{
            font-size: 1rem;
            margin: 0.5rem;      
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    min-width: 30%;
}